{% extends 'rezerwacje/base.html' %}
{%block content%}
<div class="title">O autorach</div>
<div class="info">
Programista strony:Piotrek Brzoza-Brzezina</br>
<a href="https://github.com/pbb123/pilchyspa>Link do kodu</a></br>
Autorzy zdjęć:
<ul>
	<li>
		Andrzej Mikulski
	</li>
	<li>
		Agnieszka Brzoza-Brzezina
	</li>
</ul>
Muzyka:
<ol>
	<li>
		"Taniec potwora pianina"-Piotrek Brzoza-Brzezina
	</li>
	<li>
		"Make me a chanell"-Piotr Iwańczuk,Michał Brzoza-Brzezina,Sw. Franciszek z Asyżu
	</li>
	<li>
		"The place inside"-Silent Partner
	</li>
</ol>
<a href="/">Powrót</a>
</div>
{%endblock%}