{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontello-c81fd4fa/css/fontello.css' %}" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Pilchy SPA</title>
	</head>
	<body>
		<div id="logo">
			PILCHY SPA
		</div>
		{% block logo %}
		{% endblock %}
		
		<div id="content">
		{% block content %}
		{% endblock %}
		</div>
		
	</body>
</html>