{% extends 'rezerwacje/base.html' %}
{% load staticfiles %}
{% block content %}
	<script>
	var url="{%static 'images'%}"
	var url2="{%static 'audio'%}"
	</script>
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<div id="sound" onclick="offon()"><i class="icon-volume-low"></i></div>
	<div id="login">
	{%if e%}<div class="error"><b>Błędny login lub hasło</b></div>{%endif%}
	<form method="POST">{% csrf_token %}
		Login
		<input type="text" name="user" onfocus="onfocus2()" onblur="lost()">
		</br></br>
		Hasło
		<input type="password" name="pass" onfocus="onfocus2()" onblur="lost()">
		</br></br>
		<input type="submit" value="Zaloguj Się" onfocus="onfocus2()" onblur="lost()">		
	</form>
	</div>
	<script src="{% static 'js/script.js' %}"></script>
{% endblock %}