{%extends 'rezerwacje/base.html'%}
{%block content%}
<div class="title">
{%if komunikat%}
Gratulacje udało ci się zarezerwować miejsce w PILCHYSPA.
{%else%}
Niestety ten Pokoj został zarezerwowany w tym terminie.
{%endif%}
<a href="/">Powrót</a>
{% comment %}
</div>
<div class="stars">
	<input type="radio" name="star" id="star1" value="5"/>
	<label for="star1">Strar 1</label>
	<input type="radio" name="star" id="star2" value="4"/>
	<label for="star1">Star 2</label>
	<input type="radio" name="star" id="star3" value="3"/>
	<label for="star3">Star 3</label>
	<input type="radio" name="star" id="star4" value="2"/>
	<label for="star4">Star 4</label>
	<input type="radio" name="star" id="star5" value="1"/>
	<label for="star5">Star 5</label>
	
</div>
{% endcomment %}

{%endblock%}