{% extends 'rezerwacje/base.html' %}
{%if family.user.is_authenticated%}
{%block content%}
<div class="title">
Krok pierwszy:
Wybierz Termin:
</div>
<div class="info">
<form method="POST">{% csrf_token %}
	Od:<select name="od">
		<option value="1">Dzień 1</option>
		<option value="2">Dzień 2</option>
		<option value="3">Dzień 3</option>
		<option value="4">Dzień 4</option>
		<option value="5">Dzień 5</option>
		
		
	</select>
	</br></br>
	Do:<select name="do">
		<option value="1">Dzień 1</option>
		<option value="2">Dzień 2</option>
		<option value="3">Dzień 3</option>
		<option value="4">Dzień 4</option>
		<option value="5">Dzień 5</option>
		
	</select>
	</br>
<input type="submit" value="Dalej">
</form>
</div>

{%endblock%}
{%endif%}
