{% extends 'rezerwacje/base.html' %}
{%if family.user.is_authenticated%}
{%block content%}
<div class="title">
Krok pierwszy:
Wybierz Termin:
</div>
<div class="select" >
{%if e%}<div class="error">Błędne dane!</div>{%endif%}
<form method="POST">{% csrf_token %}
	Od:<select name="od">
	{%for day in days%}
		<option value="{{day.numer}}">{{day.nazwa}}({{day.limit}})</option>
	{%endfor%}
	</select>
	Do:<select name="do">
	{%for day in days%}
		<option value="{{day.numer}}">{{day.nazwa}}({{day.limit}})</option>
	{%endfor%}
	</select>
<input type="submit" value="Dalej">
</form>
</div>

{%endblock%}
{%endif%}
