{% extends 'rezerwacje/base.html' %}
{% load staticfiles %}
{%block content%}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="{% static 'js/people.js' %}"></script>
<div class="title">Ile osób będzie mieszkać w tym pokoju?</div>
<div class="info">
{{x}}
<div id="base">
	<form method="post">{% csrf_token %}
		<input type="number" name="x"/>
		<input type="submit"/>
	</form>
</div>
</br>
<div id="adw">
	<form>
	adw
	</form>
</div>
<button onclick="adw()">Ustawienia zaawansowane</button>
</div>

{%endblock%}