{% extends 'rezerwacje/base.html' %}
{% block logo %}
{% endblock %}
{%block content%}
Udało się! Jesteś zalogowany jako {{user}}.
</br>
<div id="ikona">
<div class="ikona">
<a href="/new" title="Dodaj nową rezerwację"><i class="icon-plus-circled"></i></a>
</div>
<div class="ikona">
<a href="/see" title="Zobacz rezerwację"><i class="icon-th-list"></i></a>
</div>
<div style="clear:both;"></div>

<div class="ikona" style="margin-top:200px;">
<a href="/set" title="Ustawienia"><i class="icon-params"></i></a>
</div>

<div class="ikona" style="margin-top:200px;">
<a href="/logout" title="Wyloguj się"><i class="icon-logout"></i></a>
</div>
</div>
{%endblock%}

