body
{
	background-image: url(../images/congruent_pentagon.png);
	background-size: cover;
	font-size: 20px;
	transition: background-image 0.9s ease-in-out;
}
#content{
	width:100%;
	margin-left: auto;
	margin-right: auto;
	height:100%;
	
}
#logo{
	width: 100%;
	color: #37ad64;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 100px;
}
#logo:hover
{
	color: #37ad64;
	text-decoration:none;
}
#login{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	background-color: #37ad64;
	padding: 50px;
	box-sizing: content-box;
	opacity: 0.5;
	transition: opacity 0.4s ease-in-out;
	border: 5px solid #269c53;
	border-radius: 12px;
}
#login:hover{
	
	opacity:1!important;
	
}
input[type=text],input[type=password]
{
	width: 300px;
	height: 35px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 3px solid #7eeea8;
	background-color: #8fffb9;
	/*padding:10px;*/
}
input[type=text]:focus,input[type=password]:focus
{
	outline:none;
	-webkit-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	
}
input[type=submit]{
	background-color: #6dee97 ;
	width: 300px;
	height: 50px;
	border-radius: 12px;
	cursor:pointer;
	border: 5px solid  #269c53;
	box-sizing:border-box;
	outline:none;
	letter-spacing: 10px ;
	margin-top: 3px;
	text-align: center;
}
input[type=submit]:focus{
	outline:none;
	-webkit-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	
}
.select
{
	font-size: 20px;
	border-radius: 10px;
	margin-left:auto;
	margin-right:auto;
	width:320px;
	padding:10px;
	background-color:#ffffff;
	transition:box-shadow 1s ease-in-out;
	
}
.select:hover
{
	-webkit-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	
}
select
{
	width: 300px;
	height: 50px;
	border-radius:10px;
	background-color:#6dee97;
	box-sizing: border-box;
	letter-spacing:10px;
	text-align:center;
	margin-top:5px;
	border: 5px solid  #269c53;
}
select:focus
{
	outline:none;
	-webkit-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	
}
a{
;
}
.ikona
{
	font-size:200px;
	text-align:center;
	height: 30px;
	width:50%;
	float:left;
}
}
#ikony
{
	width:100%;
}
.title
{
	font-size: 30px;
	width: 100%;
	text-align: center;
}
.info
{   
	width: 600px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
}
li{
	text-align:left;
}
.error
{
	color:red;
}
a,a:visited
{
	color:#37ad64
}
a:hover
{
	
	color:#48be75;
	text-decoration:none;
	
}
#sound
{
	position:absolute;
	top:10px;
	right:5px;
	font-size:40px;
	color:#cccccc;
}
#sound:hover
{
	color:#222222;
}
.stars
{
	border-radius:15px;
	padding:10px;
	height:30px;
	width:200px;
	background-color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction: row-reverse;
}
.stars input
{
	
	position:absolute;
	left:-999999999px;
}
.stars label
{
	
	width:30px;
	height:30px;
	padding:5px;
	color:transparent;
}
.stars label::before
{
	content:"★";
	color:#c0c0c0;
	font-size:30px;
	line-height:30px;
	margin-right:-100%;
}
.stars label:hover::before,
.stars label:hover~label::before,
.stars input:checked ~ label::before
{
	color:orange;
}
.footer
{
	position:fixed;
	bottom:0px;
	width:100%;
	background-color:gray;
	font-size:10px;
	text-align:center;
}
ol,ul
{
	text-align:center;
}
#adw
{
	display:none;
	transition: all 4s;
}
button
{
	
	
}
input[type=number]
{
	outline:none;
	background-color:#37ad64;
	width:50px;
	border-radius:10px;
	border: 2px solid #48be75;;
}
button:focus
{
	outline:none;
	-webkit-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
}


input[type=number]:focus
{
	outline:none;
	-webkit-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	-moz-box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
	box-shadow: 0px 0px 47px 0px rgba(204,204,204,1);
}



























