
.icon-star-empty:before { content: '\e800'; } /* '' */
.icon-star:before { content: '\e801'; } /* '' */
.icon-volume-off:before { content: '\e802'; } /* '' */
.icon-volume-low:before { content: '\e803'; } /* '' */
.icon-trash-empty:before { content: '\e804'; } /* '' */
.icon-plus-circled:before { content: '\e805'; } /* '' */
.icon-th-list:before { content: '\e806'; } /* '' */
.icon-params:before { content: '\e807'; } /* '' */
.icon-logout:before { content: '\e808'; } /* '' */