
.icon-logout:before { content: '\e800'; } /* '' */
.icon-th-list:before { content: '\e801'; } /* '' */
.icon-plus-circled:before { content: '\e802'; } /* '' */
.icon-params:before { content: '\e803'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */